<h1>THIS PIRATE DIED OF SCURRRRRVEEEYYYYY</h1>
<h2>{{pirate.name}}</h2>
<ul>
    <li>NAME: {{pirate.name}}</li>
<li>BIRTHPLACE: {{pirate.birthplace}}</li>
<li>DEATH YEAR: {{pirate.death_year}}</li>
<li>BASE: {{pirate.base}}</li>
<li>NICKNAME: {{pirate.nickname}}</li>
</ul>
<div>
    <a href="http://localhost:3000/pirates">Back to the list</a>
</div>
<div>  
    <a href="http://localhost:3000/pirates/new">Make New Pirates</a>
</div>