<h1>THIS PIRATE DIED OF SCURRRRRVEEEYYYYY</h1>
<h2>{{pirate.name}}</h2>
<ul>
    <li>NAME: {{pirate.name}}</li>
<li>BIRTHPLACE: {{pirate.birthplace}}</li>
<li>DEATH YEAR: {{pirate.death_year}}</li>
<li>BASE: {{pirate.base}}</li>
<li>NICKNAME: {{pirate.nickname}}</li>
</ul>